<a href="https://colab.research.google.com/github/kalinakalina/DEDA_Cryptopunks/blob/main/EDA_accessoires.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello')

hi

In [ ]:
# imports
import pandas as pd 

import requests
from requests import get
from bs4 import BeautifulSoup
import numpy as np

In [14]:
# import transaction 
file = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/transaction.csv?token=AH46LUSFPS756K3PCIWICNDAUN3MS'
dft = pd.read_csv(file, header=None)
dft.head()

   0              1         2    3           4  5      6          7
0  0  Bid Withdrawn  0x983ace  NaN  2021-05-10  0  250.0  1030000.0
1  1            Bid  0x983ace  NaN  2021-04-11  0  250.0    537,615
2  2  Bid Withdrawn  0xd7510a  NaN  2021-03-03  0  100.0    160,973
3  3            Bid  0xd7510a  NaN  2021-02-20  0  100.0    188,897
4  4  Bid Withdrawn  natealex  NaN  2020-09-16  0   69.0     25,532

In [31]:
# import accessoires 
names=['gender', 'acc_1', 'acc_2', 'acc_3', 'acc_4', 'acc_5', 'acc_6', 'acc_7']
file = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/accessories.csv?token=AH46LUQH7B2CAACL2JOHNCDAUN6AI'
df = pd.read_csv(file, header=None, sep='\n')
df = df[0].str.split(',', expand=True)
df.drop(0, axis=1, inplace=True)
df.head()

        1                 2             3           4     5     6     7     8
0  Female  Green Eye Shadow       Earring  Blonde Bob  None  None  None  None
1    Male             Smile        Mohawk        None  None  None  None  None
2  Female         Wild Hair          None        None  None  None  None  None
3    Male         Wild Hair  Nerd Glasses        Pipe  None  None  None  None
4    Male        Big Shades     Wild Hair     Earring  Goat  None  None  None

In [33]:
dict={1:'gender', 
      2:  'acc_1',
      3:'acc_2', 
      4: 'acc_3',
      5:'acc_4',
      6: 'acc_5',
      7:'acc_6',
      8:'acc_7'}
df.rename(columns=dict,
          inplace=True)
  
df.head()

   gender             acc_1         acc_2       acc_3 acc_4 acc_5 acc_6 acc_7
0  Female  Green Eye Shadow       Earring  Blonde Bob  None  None  None  None
1    Male             Smile        Mohawk        None  None  None  None  None
2  Female         Wild Hair          None        None  None  None  None  None
3    Male         Wild Hair  Nerd Glasses        Pipe  None  None  None  None
4    Male        Big Shades     Wild Hair     Earring  Goat  None  None  None

In [39]:
columns = df.select_dtypes(include=[object]).columns
df[columns] = df[columns].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  10000 non-null  category
 1   acc_1   9992 non-null   category
 2   acc_2   9659 non-null   category
 3   acc_3   6099 non-null   category
 4   acc_4   1598 non-null   category
 5   acc_5   178 non-null    category
 6   acc_6   12 non-null     category
 7   acc_7   1 non-null      category
dtypes: category(8)
memory usage: 92.9 KB

In [44]:
df_test= pd.get_dummies(df)

In [46]:
df_test.head()

   gender_Alien  gender_Ape  ...  acc_6_Smile  acc_7_Mole
0             0           0  ...            0           0
1             0           0  ...            0           0
2             0           0  ...            0           0
3             0           0  ...            0           0
4             0           0  ...            0           0

[5 rows x 365 columns]

In [53]:
page = requests.get("https://www.larvalabs.com/cryptopunks/attributes")
soup = BeautifulSoup(page.text, "html.parser")

tr_hist = soup.find_all('table')
df_acc_types = pd.read_html(str(tr_hist))[0]
df_acc_types

  Punk Types Unnamed: 1_level_0  ... Unnamed: 4_level_0 Unnamed: 5_level_0
   Attribute                  #  ...           Cheapest      More Examples
0      Alien                  9  ...                NaN                NaN
1        Ape                 24  ...              1.6KΞ                NaN
2     Zombie                 88  ...               380Ξ                NaN
3     Female               3840  ...             15.25Ξ                NaN
4       Male               6039  ...             14.50Ξ                NaN

[5 rows x 6 columns]

In [54]:
tr_hist = soup.find_all('table')
df_acc_att = pd.read_html(str(tr_hist))[1]
df_acc_att

         Attributes Unnamed: 1_level_0  ... Unnamed: 4_level_0 Unnamed: 5_level_0
          Attribute                  #  ...           Cheapest      More Examples
0            Beanie                 44  ...               220Ξ                NaN
1            Choker                 48  ...                70Ξ                NaN
2      Pilot Helmet                 54  ...               110Ξ                NaN
3             Tiara                 55  ...             89.99Ξ                NaN
4       Orange Side                 68  ...                79Ξ                NaN
..              ...                ...  ...                ...                ...
82             Mole                644  ...                16Ξ                NaN
83  Purple Lipstick                655  ...             15.25Ξ                NaN
84     Hot Lipstick                696  ...             17.42Ξ                NaN
85        Cigarette                961  ...                17Ξ                NaN
86          Earring               2459  ...             15.75Ξ                NaN

[87 rows x 6 columns]

In [75]:
df_acc_att = pd.DataFrame(df_acc_att.to_records())
df_acc_att.columns
dict={'index':'index',
      "('Attributes', 'Attribute')":'attributes',
      "('Unnamed: 1_level_0', '#')":'number',
      "('Unnamed: 2_level_0', 'Avail')":'avail',
      "('Unnamed: 3_level_0', 'Avg Sale')":"avg_sale",
      "('Unnamed: 4_level_0', 'Cheapest')":'cheapest',
      "('Unnamed: 5_level_0', 'More Examples')":'more_examples'}
df_acc_att.rename(columns=dict,
          inplace=True)
df_acc_att.columns

Index(['index', 'attributes', 'number', 'avail', 'avg_sale', 'cheapest',
       'more_examples'],
      dtype='object')

In [76]:
df_acc_att.head()

   index    attributes  number  avail avg_sale cheapest  more_examples
0      0        Beanie      44     12     154Ξ     220Ξ            NaN
1      1        Choker      48      7   56.96Ξ      70Ξ            NaN
2      2  Pilot Helmet      54     12  103.79Ξ     110Ξ            NaN
3      3         Tiara      55     12   78.75Ξ   89.99Ξ            NaN
4      4   Orange Side      68     12   82.16Ξ      79Ξ            NaN

In [78]:
def fix_eth(x):
  x=str(x)
  x=x.replace('Ξ', '')
  x=x.replace('<', '')
  x=x.replace(',', '')
  if 'K' in x:
    x=float(x.replace('K', ''))
    x=x*1000
    return x
  return x

In [81]:
df_acc_att.avg_sale=df_acc_att.avg_sale.apply(fix_eth)
df_acc_att.cheapest=df_acc_att.cheapest.apply(fix_eth)

df_acc_att.head()

   index    attributes  number  avail avg_sale cheapest  more_examples
0      0        Beanie      44     12      154      220            NaN
1      1        Choker      48      7    56.96       70            NaN
2      2  Pilot Helmet      54     12   103.79      110            NaN
3      3         Tiara      55     12    78.75    89.99            NaN
4      4   Orange Side      68     12    82.16       79            NaN

In [91]:
df_acc_att.avg_sale = df_acc_att.avg_sale.astype(np.float32)
df_acc_att.cheapest = df_acc_att.cheapest.astype(np.float32)
df_acc_att.attributes = df_acc_att.attributes.astype('category')
df_acc_att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          87 non-null     int64
 1   attributes     87 non-null     category
 2   number         87 non-null     int64
 3   avail          87 non-null     int64
 4   avg_sale       87 non-null     float32
 5   cheapest       87 non-null     float32
 6   more_examples  0 non-null      float64
dtypes: category(1), float32(2), float64(1), int64(3)
memory usage: 6.8 KB

In [92]:
df_acc_att.sort_values(by=['avg_sale'], ascending=False)

    index    attributes  number  avail    avg_sale    cheapest  more_examples
0       0        Beanie      44     12  154.000000  220.000000            NaN
2       2  Pilot Helmet      54     12  103.790001  110.000000            NaN
4       4   Orange Side      68     12   82.160004   79.000000            NaN
3       3         Tiara      55     12   78.750000   89.989998            NaN
36     36        Hoodie     259     40   60.169998   60.000000            NaN
..    ...           ...     ...    ...         ...         ...            ...
32     32    Police Cap     203     33   22.420000   18.990000            NaN
69     69   Frumpy Hair     442     54   22.160000   16.500000            NaN
68     68   Mohawk Thin     441     64   21.809999   15.750000            NaN
73     73  Stringy Hair     463     61   21.610001   15.500000            NaN
53     53        Do-rag     300     44   20.600000   18.740000            NaN

[87 rows x 7 columns]